.content-container{
    width: 100%;
    max-width: 1100px;
    padding: 2rem;
    display:flex;
    flex-direction:row;
    margin-inline: auto;
    flex-wrap: nowrap;
    height: max-content;
    max-height: 90%;
    border-bottom: 2px solid rgba(20, 14, 5, 0.111);
    margin-block: 1rem;
    margin-inline: auto;
    box-sizing: border-box;
    align-items: center;
   justify-content: center;
    padding-bottom: 5rem;
   
     
 }
 .slider-container{
    display:block;
    padding: 3rem;
    padding-bottom: 0 ;
    min-width: 46%;
    padding-inline: 1rem;
    flex-grow: 1;
    height: 90%;
    width: 90%;
    z-index: 0;
    margin-bottom: -2rem;
    margin-inline: 1rem;
     
     
 }
 .slider-image__store-out-align-right{
 background-image: url(../images/store-outisde_edited.jpg);
 background-size:100%;
 background-repeat: no-repeat;
 height: 440px;
    min-height: 75%;
    width: 300px;
    min-width: 65%;
    padding:1rem ;
    margin-inline: auto;
    z-index: 0;
    display: block;
    margin-bottom: 2rem;
 
 
 }
 

 
 
 
 .props-container_wood{
    display:flex;
    position:absolute;
    top: 6%;
    left:40%;
    z-index: 0;
    max-width: inherit;
    max-height:50%;
 
 }
 
 .slider-props-wood_align-left{
     background-image: url(../images/decoration-wood.jpeg);
     background-repeat: no-repeat;
     background-size:cover;
     width: 200px;
     height: 50px;
     
    
     
     
 
 }
 
 .props-container_grey{
    display:block;
    position:absolute;
    top: 86%;
    left:63%;
    z-index:-1;
    margin-bottom: 3rem;
    height: 100px;
    margin-bottom: 2rem;
     transition: all .3s ease-in-out;
    
 }
 
 .slider-props-grey_pop-below{
     background-image: url(../images/decoration-grey.jpeg);
     background-repeat: no-repeat;
     background-size: cover;
     width: 300px;
     height: 80px;
     
 }
 @media ( max-width:720px) {
     .content-container{
         flex-direction: column;
         margin-inline: auto;
         flex-wrap: nowrap;
     }
     .slider-container{
        
         margin-inline: auto;
         justify-content: center;
     }
     .props-container_grey,.props-container_wood{
      display: none;
     }
 }
