.content-container{
    display: flex;
    flex-wrap: wrap;
     flex-direction: row;
     padding: 1rem;
     margin-top: 5rem;
     margin-inline: auto;
     width: 100%;
     max-width: 1100px;
     height: 100%;
     max-height: 100vh;
    text-align: center;
    justify-content: space-evenly;
    margin-bottom: 3rem;
    padding-bottom: 3rem;
   
     
 }
 .slider-container{
    margin: 1rem; 
    display: block;
     opacity: 1;
     width: 40%;
     height: 100%;
     z-index: 1;
     
     
 }
 .slider-image__store-out-align-right{
 background-image: url(../images/store-outisde_edited.jpg);
 background-size:100%;
 background-repeat: no-repeat;
 width: 400px;
 height:500px;
 padding-inline: 1rem;
 margin-inline: auto;
 transition: all .5s ease-in;
 
 z-index: 1;
 
 
 }
 

 
 
 
 .props-container_wood{
     z-index: 1;
     max-width: 100%;
     opacity: 1;
     position: absolute;
   
 
 }
 
 .slider-props-wood_align-left{
     background-image: url(../images/decoration-wood.jpeg);
     width: 15rem;
     height: 3rem;
     z-index: 2;
     position: relative;
     top: -1rem;
     left:2rem;
 
 }
 
 .props-container_grey{
     z-index: 0;
     width: 100%;
     opacity: 1;
     position: absolute;
     margin-bottom: 5rem;
    
     transition: all .5s ease-in-out;
    
 }
 
 .slider-props-grey_pop-below{
     background-image: url(../images/decoration-grey.jpeg);
     width: 100%;
     background-size: cover;
     max-width: 50vw;
     height: 9rem;
     max-height: 40vh;
     position: relative;
     z-index: -1;
     top: 24rem;
     right:-45%;
    overflow: hidden;
 }
 @media ( max-width:720px) {
     .content-container{
         flex-direction: column;
         margin-inline: auto;
         flex-wrap: nowrap;
     }
     .slider-container{
        
         margin-inline: auto;
         justify-content: center;
     }
 }
