.content-container{
    display: flex;
     flex-direction: row;
     padding: 1rem;
     margin-top: 5rem;
     margin-inline: auto;
     width: 100%;
     max-width: 1100px;
     height: 100%;
     max-height: 600px;
    text-align: center;
    justify-content: space-evenly;
    margin-bottom: 15rem;
    padding-bottom: 5rem;
     
 }
 .slider-container{
     display: flex;
     opacity: 0;
     width: 40%;
     height: 100%;
     transform: translateX(50%) scale(.94)
     
     
 }
 .slider-image__store-out-align-right{
 background-image: url(../images/store-outisde_edited.jpg);
 width: 300px;
 height:500px;
 padding-left: 1rem;
 margin-right: 1rem;
 transition: all .5s ease-in;
 flex-grow: 1;
 
 
 }
 .slider-container.active{
     opacity: 1;
     transform:translateX(0%) scale(1);
     transition: .4s ease-out;
     z-index: 2;
 }
 
 .text-container{
     width: 45%;
     vertical-align: middle;
     line-height: 1.4;
     align-self:center;
     z-index: 2;
     opacity: 0;
     transition: 5s opacity ease, left;
 }
 .text-container.active{
     opacity: 1;
 }
 .text-content{
     flex-grow: 1;
     margin-top:5rem ;
     padding-inline: 2rem;
     width: 100%;
     text-align: left;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-size: 1.5rem;
     color: rgb(31, 29, 29);
     margin-right: -3rem;
     }
 .props-container_wood{
     z-index: 0;
     max-width: 100%;
     opacity: 0;
     position: absolute;
     transform: translateX(-80%) scale(.91); 
 
 }
 
 .slider-props-wood_align-left{
     background-image: url(../images/decoration-wood.jpeg);
     width: 16rem;
     height: 3rem;
     z-index: 0;
     position: relative;
     top: -2rem;
     left:1rem;
 
 }
 .props-container_wood.active{
   opacity: 1;
   transform: translateX(0%) scale(1);
   transition:all .4s ease-in;
   z-index: 1;
 }
 .props-container_grey{
     z-index: 0;
     max-width: 100%;
     opacity: .3;
     position: absolute;
     margin-bottom: 5rem;
     transform: translate(60%,100%) scale(.91); 
     transition:  .5s ease-in-out;
 
 }
 
 .slider-props-grey_pop-below{
     background-image: url(../images/decoration-grey.jpeg);
     width: 40rem;
     height: 9rem;
     z-index: 0;
     position: relative;
     top: 24rem;
     right:-22rem;
 
 }
 .props-container_grey.active{
   opacity: 1;
   transform: translate(0%,0%) scale(1);
   transition: all .4s ease-in;
   z-index: 1;
   ;
 }