
   
.dropdown-menu {
    
    width: 200px;
    position: absolute;
    top: 80px;
    list-style: none;
    text-align: start;
    z-index: 0;
  }
  
  .dropdown-menu li {
    background: rgb(110, 82, 4);
    cursor: pointer;
  }
  
  .dropdown-menu li:hover {
    background: rgb(190, 141, 7);
  }
  
  .dropdown-menu.clicked {
    display: none;
  }
  
  .dropdown-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #fff;
    padding: 16px;
    z-index: 0;
  }
  
  @media screen and (max-width: 960px) {
    .fa-caret-down {
      display: none;
    }
    .NavbarItems{
        position: relative;
    }
  }