@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

.home-container{
    z-index: 0;
    height: max-content;
    
    overflow: hidden;
}

.content{
    display: block;
    text-align: center;
    
}
.home.active{
    padding-top: 75px;
}

.brand-title{
    padding-top:7rem;
    font-family: 'Caveat',cursive;
    font-size: 1rem;
    font-weight: 900;
    text-align: center;
    align-items: center;
    justify-self: center;
    text-shadow: 2px 3px sandybrown;
}
.brand-sub{
    display: block;
    position: relative;
    font-family:'Satisfy', cursive;
    text-decoration: springgreen;
    font-size:clamp(1.4rem,2.4vw,4rem);
    padding-inline:2rem;
    padding-top: 0;
    margin-bottom: .5rem;
    text-shadow: 1px 1px black;
      
}
@media (max-width:590px) {
    .brand-sub{
        margin-top: -4rem;
    }
}
