@import '/node_modules/react-alice-carousel/lib/alice-carousel.css';




.products-slider_container{
    display: block;
    position: relative;
    margin-inline:auto;
    width: 100%;
    height: 100%;
    padding: 3rem;
    text-align:center;
    justify-content: center;
    margin-bottom: 1rem;
   

   
}
.products-title{
    margin-bottom: 3rem;
    text-align: left;
}



.alice-carousel ul li img{
    height: 300px;
    width: 100%;
    margin-inline:auto;
    max-width: 600px;
    object-fit:cover;
   text-align: center;
  }
  .alice-carousel__next-btn {
    text-align: left; }

.alice-carousel__stage-item {
  /* margin-inline: 1rem; */
  padding-inline:.7rem;
    }
